#rightarea
  #showinfo
    .top
    .title www.jc-10.tw规则
    .content
      %p &nbsp;&nbsp;&nbsp;&nbsp;台灣福彩從事的是對國家與社會公益充滿影響力的産業,深受彩民信賴,期盼持續努力提升社會對彩劵産業的信任與好感,社會公益彩劵的愛心傳遞到台灣每個角落.
      %p &nbsp;
      %p &nbsp;&nbsp;&nbsp;&nbsp;台灣彩劵爲社會大衆提供多擇化的公益彩劵商品,期望透過專業的彩劵銷售管道,廣召社會大衆的參與,協助政府,健全公益彩劵産業.計劃及充實政府公益彩劵盈馀,買彩劵,做公益,積公德成爲一種愛與知的循環,透過購買公益彩劵對社會貢獻一份愛心.。
      %p &nbsp;
      %p &nbsp;
      %p &nbsp;&nbsp;&nbsp;&nbsp;精彩十分是台灣彩劵開發的一種全新的快速開獎遊戲,精彩十分將于2009年1月1日發往銷售,精彩十分從早上10點開始到零晨2點結束.每10分鍾就開獎一期,共開108期.特點,返獎高,開獎快,更好玩,共有10種玩法,排列,組合,數字,顔色都可選投注者從01~20的數字中選擇,每期開出8個中獎號碼.台灣&quot;精彩十分&quot;在各省,[區,市]實行統一各稱,統一遊戲規則,統一開獎號碼.當期獎全銷售總額的百分之58,調節基金委銷售總額的百分之1規定如下.
      %p 　
      %p
        \&nbsp;&nbsp;&nbsp;台灣精彩十分規則說明
        %br/
      %p
        \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每期台灣精彩十分開獎球數共八粒。每粒球除了總和玩法，其它都有單獨的投注頁面。台灣精彩十分每天開 108 期，每期間隔 10 分鍾。投注時間爲 8 分鍾，等待開獎時間爲 2 分鍾，台北時間（ GMT+8 ）每天白天從上午 08 ： 00 開到次日淩晨 02 ： 00 。
        %br/
        %br/
      %p 兩面： 指單、雙；大、小、尾大、尾小。
      %p
        單、雙：號碼爲雙數叫雙，如 8 、 16 ；號碼爲單數叫單，如 19 、 5 。
        %br/
        大、小：開出之號碼大于或等于 11 爲大，小于或等于 10 爲小。
        %br/
        尾大、尾小：開出之尾數大于或等于 5 爲尾大，小于或等于 4 爲尾小。
        %br/
        每一個號碼爲一投注組合，假如投注號碼爲開獎號碼並在所投的球位置，視爲中獎，其余情形視爲不中獎。
        %br/
        %br/
      %p
        中發白
        %br/
        中：開出之號碼爲 01 、 02 、 03 、 04 、 05 、 06 、 07
        %br/
        發：開出之號碼爲 08 、 09 、 10 、 11 、 12 、 13 、 14
        %br/
        白：開出之號碼爲 15 、 16 、 17 、 18 、 19 、 20
        %br/
        %br/
      %p
        方位
        %br/
        東：開出之號碼爲 01 、 05 、 09 、 13 、 17
        %br/
        南：開出之號碼爲 02 、 06 、 10 、 14 、 18
        %br/
        西：開出之號碼爲 03 、 07 、 11 、 15 、 19
        %br/
        北：開出之號碼爲 04 、 08 、 12 、 16 、 20
        %br/
        %br/
      %p
        總和單雙 ：所有 8 個開獎號碼的數字總和值是單數爲總和單，如數字總和值是 31 、 51 ；所有 8 個開獎號碼的數字總和值是雙數爲總和雙，如數字總和是 42 、 80 ；假如投注組合符合中獎結果，視爲中獎，其余情形視爲不中獎。
        %br/
        %br/
        總和大小 ：所有 8 個開獎號碼的數字總和值 85 到 132 爲總大；所有 8 個開獎號碼的數字總和值 36 到 83 爲總分小；所有 8 個開獎號碼的數字總和值爲 84 打和；如開獎號碼爲 01 、 20 、 02 、 08 、 17 、 09 、 11 ，數字總和是 68 ，則總分小。假如投注組合符合中獎結果，視爲中獎，其余情形視爲不中獎，打和不計算結果。
        %br/
        %br/
        總尾大小 ：所有 8 個開獎號碼的數字總和數值的個位數大于或等于 5 爲總尾大，小于或等于 4 爲總尾小；假如投注組合符合中獎結果，視爲中獎，其余情形視爲不中獎。
        %br/
        %br/
        選二任選 ：指從 01 至 20 中任意選擇 2 個號碼對開獎號碼中任意 2 個位置的投注。 投注號碼與開獎號碼中任意 2 個位置的號碼相符，即中獎。
        %br/
        %br/
        選二連組 ：指從 01 至 20 中任意選擇 2 個號碼對開獎號碼中按開獎順序出現的 2 個連續位置的投注。 投注號碼與開獎號碼中按開獎順序出現的 2 個連續位置的號碼相符（順序不限），即中獎。
        %br/
        %br/
        選二連直 ：指從 01 至 20 中任意選擇 2 個號碼對開獎號碼中按開獎順序出現的 2 個連續位置按位相符的投注。 投注號碼與開獎號碼中按開獎順序出現的 2 個連續位置的號碼按位相符，即中獎。
        %br/
        %br/
        選三任選 ：指從 01 至 20 中任意選擇 3 個號碼對開獎號碼中任意 3 個位置的投注。 投注號碼與開獎號碼中任意 3 個位置的號碼相符，即中獎。
        %br/
        %br/
        選三前組 ：指從 01 至 20 中任意選擇 3 個號碼對開獎號碼中按開獎順序出現的前 3 個連續位置的投注。 投注號碼與開獎號碼中按開獎順序出現的前 3 個位置的號碼相符（順序不限），即中獎。
        %br/
        %br/
        選三前直 ：指從 01 至 20 中任意選擇 3 個號碼對開獎號碼中按開獎順序出現的前 3 個連續位置按位相符的投注。 投注號碼與開獎號碼中按開獎順序出現的前 3 個位置的號碼按位相符，即中獎。
        %br/
        %br/
        選四任選 ：指從 01 至 20 中任意選擇 4 個號碼，對開獎號碼中任意 4 個位置的投注。 投注號碼與開獎號碼中任意 4 個位置的號碼相符，即中獎。
        %br/
        %br/
        選五任選 ：指從 01 至 20 中任意選擇 5 個號碼，對開獎號碼中任意 5 個位置的投注。 投注號碼與開獎號碼中任意 5 個位置的號碼相符，即中獎。
        %br/
        %br/
      %p &middot;   龍虎 以第一球的中獎號碼和第八球的中獎號碼做爲對獎號碼。
      %p
        龍：開出之號碼第一球的中獎號碼大于第八球的中獎號碼。如 第一球開出 14 第八球開出 09 ；第一球開出 17 第八球開出 08 ；第一球開出 05 第八球開出 01... 中獎爲龍。
        %br/
        虎：開出之號碼第一球的中獎號碼小于第八球的中獎號碼。如 第一球開出 14 第八球開出 16 ；第一球開出 13 第八球開出 18 ；第一球開出 05 第八球開出 08... 中獎爲虎。
        %br/
      %p &nbsp;
      %blockquote
        \&nbsp;
      %p{:align => "center"} 兑　奖
      %p &nbsp;&nbsp;&nbsp;&nbsp;****彩票是兑奖凭证，****彩票因玷污、损坏的原因而不能正确识别的，不能兑奖。 　　
      %p &nbsp;&nbsp;&nbsp;&nbsp;****者持****彩票在本省规定的兑奖期限内到本省内任意投注站兑奖，****等级在三等奖以上（包括三等奖）的****者，需持****彩票及有效身份证件在兑奖期限内到本省福利彩彩票发行中心兑奖。
      %p &nbsp;
    .info
      %p 开奖媒体及开奖时间
      %p 福利彩全国统一开奖，早上10點開始到零晨2點結束.每10分鍾就開獎一期,共開108期。
    .boot
