.No_01, .No_02, .No_03, .No_04, .No_05, .No_06, .No_07, .No_08, .No_09, .No_10, .No_11, .No_12, .No_13, .No_14, .No_15, .No_16, .No_17, .No_18, .No_19, .No_20 {
  BACKGROUND-IMAGE: image-url("ball_1.gif");
  BACKGROUND-REPEAT: no-repeat;
  BACKGROUND-POSITION: center center; }

.No_01 {
  BACKGROUND-POSITION: 0px 0px; }

.No_02 {
  BACKGROUND-POSITION: 0px -27px; }

.No_03 {
  BACKGROUND-POSITION: 0px -54px; }

.No_04 {
  BACKGROUND-POSITION: 0px -81px; }

.No_05 {
  BACKGROUND-POSITION: 0px -108px; }

.No_06 {
  BACKGROUND-POSITION: 0px -135px; }

.No_07 {
  BACKGROUND-POSITION: 0px -162px; }

.No_08 {
  BACKGROUND-POSITION: 0px -189px; }

.No_09 {
  BACKGROUND-POSITION: 0px -216px; }

.No_10 {
  BACKGROUND-POSITION: 0px -243px; }

.No_11 {
  BACKGROUND-POSITION: 0px -270px; }

.No_12 {
  BACKGROUND-POSITION: 0px -297px; }

.No_13 {
  BACKGROUND-POSITION: 0px -324px; }

.No_14 {
  BACKGROUND-POSITION: 0px -351px; }

.No_15 {
  BACKGROUND-POSITION: 0px -378px; }

.No_16 {
  BACKGROUND-POSITION: 0px -405px; }

.No_17 {
  BACKGROUND-POSITION: 0px -432px; }

.No_18 {
  BACKGROUND-POSITION: 0px -459px; }

.No_19 {
  BACKGROUND-POSITION: 0px -486px; }

.No_20 {
  BACKGROUND-POSITION: 0px -513px; }

