@charset "utf-8";

/* CSS Document */

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 宋体,Arial;
  font-size: 12px;
  line-height: 200%;
  color: #6a6f73; }

ul {
  list-style: none;
  color: #6a6f73; }

a {
  text-decoration: none;
  color: #6a6f73; }

img {
  border: 0; }

.blue {
  color: #0da9f2; }

.red {
  color: #af211d; }

.orange {
  color: #fb5640; }

.yellow {
  color: #ffef00;
  font-weight: bold; }

.hui {
  color: #272727; }

.t12 {
  font-size: 12px; }

.t14 {
  font-size: 14px; }

.clear {
  margin: 5px; }

.white {
  color: #FFF; }

.black {
  color: #1e1915; }

.t18 {
  font-size: 18px; }

/*header*/

.all {
  width: 100%;
  height: 100%;
  background: #e8e8e8;
  overflow: hidden; }

.wrapper {
  width: 970px;
  height: 100%;
  margin: 0 auto;
  bottom: 2px;
  background: #FFF;
  overflow: hidden; }

.header {
  width: 1000px;
  height: 25px;
  margin: 0 auto;
  background: #f0ebef;
  overflow: hidden; }

.headerleft {
  float: left;
  width: 65px;
  height: 25px;
  background: #13a6dc;
  display: inline; }

/*nav*/

.nav {
  width: 970px;
  height: 36px;
  margin: 0 auto;
  overflow: hidden; }

.nav1 {
  width: 950px;
  height: 36px;
  margin: 0 auto;
  background: image-url("nav_03.gif") no-repeat;
  overflow: hidden;
  ul {
    float: left;
    width: 820px;
    height: 36px;
    margin-left: 123px; }
  li a {
    float: left;
    margin: auto 10px;
    width: 93px;
    height: 36px;
    line-height: 36px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden; } }

/*footer*/

.footer {
  width: 970px;
  height: 62px;
  margin: 0 auto;
  overflow: hidden;
  background: #4F4646; }

.footer1 {
  width: 952px;
  height: 62px;
  background: image-url("footer_30.gif") no-repeat #4f4646;
  margin: 0 auto;
  overflow: hidden; }
