@charset "utf-8";

/* CSS Document */

.contentbg {
  width: 970px;
  height: 105px;
  margin: 0 auto;
  overflow: hidden; }

.content {
  width: 952px;
  height: 105px;
  margin: 0 auto;
  background: image-url("taiwan_07.gif") no-repeat;
  overflow: hidden; }

.content_top {
  float: left;
  width: 869px;
  height: 52px;
  margin: 14px auto 5px 81px;
  overflow: hidden; }

.content_top_case {
  float: left;
  width: 178px;
  height: 46px;
  display: inline;
  p {
    float: left;
    margin: 0  4px;
    font-size: 12px;
    font-weight: bold;
    font-family: 宋体;
    color: #000; } }

.content_min {
  width: 869px;
  margin: 0 auto;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  a {
    float: left;
    margin: 0  6px;
    font-size: 12px;
    font-weight: bold;
    font-family: 宋体;
    color: #000; } }

.content_left {
  float: left;
  width: 689px;
  height: 800px;
  margin-left: 12px;
  overflow: hidden; }

.content_left_case {
  float: left;
  width: 685px;
  height: 31px;
  background: #13a6dc;
  display: inline;
  p {
    float: left;
    margin-left: 23px;
    font-size: 14px;
    line-height: 31px;
    font-weight: bold;
    font-family: 宋体;
    color: #fff; }
  a {
    float: left;
    margin-left: 76px;
    font-size: 14px;
    line-height: 31px;
    font-weight: bold;
    font-family: 宋体;
    color: #fff; } }

.containter {
  float: left;
  margin-top: 15px;
  width: 671px;
  height: 465px;
  background: image-url("c_03.gif") #53d0e6;
  overflow: hidden; }

.containter_top {
  float: left;
  margin: 7px auto 7px 340px;
  width: 250px;
  height: 44px;
  overflow: hidden;
  display: inline;
  p {
    text-align: center;
    font-size: 14px; } }

.containter_min {
  float: left;
  margin: 9px auto 0px 359px;
  width: 266px;
  height: 22px;
  overflow: hidden;
  p {
    text-align: center;
    font-size: 14px;
    color: #FFF;
    font-weight: bold; } }

.containter_table {
  float: left;
  width: 266px;
  height: 222px;
  margin-left: 359px;
  border: 1px solid #1d8a9f;
  color: #146b74;
  overflow: hidden; }

.containter_t {
  width: 266px;
  height: 222px; }

.containter_table_td {
  border-bottom: 1px solid #1d8a9f;
  height: 27px;
  border-right: 1px solid #1d8a9f;
  overflow: hidden; }

.containter_bottom {
  float: left;
  margin: 21px auto auto 134px;
  width: 514px;
  height: 124px;
  line-height: 18px;
  display: inline;
  overflow: hidden; }

.containter_bottom_b {
  margin-bottom: 5px;
  overflow: hidden; }

.table {
  float: left;
  width: 680px;
  height: 280px;
  line-height: 18px;
  display: inline;
  overflow: hidden; }

.table2 {
  margin: 0;
  padding: 0;
  border: 1px solid #c8cece; }

.table3 {
  margin: 0;
  padding: 0; }

.table_td {
  border-bottom: 1px solid #c8cece;
  border-right: 1px solid #c8cece;
  overflow: hidden; }

.content_right {
  float: left;
  width: 258px;
  height: 800px;
  border: 1px solid #c8adb2;
  background: #fddfdf;
  overflow: hidden;
  display: inline; }

.content_right_top {
  float: left;
  width: 258px;
  height: 30px;
  background: image-url("x_18.gif") no-repeat;
  display: inline;
  overflow: hidden;
  p {
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    font-family: 宋体;
    color: #fff; } }

.main {
  float: left;
  background: #FFF;
  width: 258px;
  height: 124px;
  overflow: hidden; }

.main_l {
  float: left;
  margin: 28px 5px;
  width: 83px;
  height: 63px; }

.main_r {
  float: right;
  margin-right: 10px;
  margin-top: 15px;
  width: 150px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  height: 118px;
  overflow: hidden; }

.main2 {
  float: left;
  width: 258px;
  height: 100px;
  padding-top: 15px;
  padding-left: 5px;
  background: #FFF;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  overflow: hidden; }

.main3 {
  float: left;
  width: 258px;
  height: 155px;
  padding-top: 5px;
  padding-left: 4px;
  background: #FFF;
  overflow: hidden;
  ul {
    float: left;
    background: #FFF;
    width: 258px;
    height: 155px;
    overflow: hidden;
    li {
      float: left;
      margin: 1px 1px;
      width: 123px;
      height: 48px;
      overflow: hidden; } } }
