@charset "utf-8";

/* CSS Document */

body {
  font-size: 12px;
  background: white image-url("body_bg.gif");
  margin: 0px;
  padding: 0px;
  color: #D2E9FF; }

td, th {
  font-size: 12px;
  margin: 0px;
  padding: 0px; }

p, ol, ul, dl, dt, dd, li {
  font-family: 宋体,Arial,Verdana,Helvetica,Sans-serif;
  font-size: 12px;
  line-height: 150%;
  margin: 0px;
  padding: 0px; }

dt, dd, li {
  text-align: left;
  list-style-type: none; }

table {
  margin: 0px;
  padding: 0px; }

a {
  color: #D2E9FF;
  text-decoration: none;
  &:hover {
    color: #F30;
    text-decoration: none; } }

/*--主体样式*/

#overmain {
  width: 800px;
  margin: 0px auto;
  background: #039; }

.tabmain {
  width: 800px; }

.td-left {
  width: 200px; }

.td-middle {
  width: 8px; }

.td-right {
  width: 590px; }

.td-right2 {
  width: 600px; }

#leftarea, #middarea, #rightarea {
  width: 100%; }

#header {
  width: 100%;
  height: 120px; }

#annouce {
  width: 560px;
  height: 35px;
  line-height: 35px;
  background: image-url("annouce_bg.jpg");
  margin: 10px 0px;
  padding: 0px 15px; }

#leftmenu {
  padding: 10px 10px 2px 10px;
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#000066,endColorStr=#003AA0);
  background-color: skyblue;
  border-left: 1px solid #0CF;
  border-right: 1px solid #0CF;
  border-bottom: 1px solid #0CF;
  overflow: auto;
  overflow: hidden;
  li {
    text-align: center;
    margin: 5px 0px; } }

/*--日期样式*/

.tabdate {
  width: 180px;
  background: #06F;
  border: 1px #0CF solid;
  td {
    height: 23px;
    text-align: center;
    &.topweek {
      font-weight: bold;
      background: #006; }
    &.dt1 {
      background: #0CF; }
    &.dt2 {
      color: #000;
      background: #FF0; }
    &.showdate {
      text-align: center;
      font-family: Verdana;
      background: #006; } } }

/*--提示样式-----------*/

#tip {
  line-height: 150%;
  margin-bottom: 5px; }

#date {
  width: 100%; }

#attention {
  text-align: center; }

/*--首页右边样式-----------*/

#indexcont {
  width: 100%;
  margin: 10px 0px;
  background: image-url("590_bg.jpg");
  li {
    &.top {
      height: 20px;
      background: image-url("590_t.jpg"); }
    &.area {
      padding: 0px 20px; }
    &.boot {
      height: 20px;
      background: image-url("590_b.jpg"); } } }

/*--左边列表样式-----------*/

#leftlist {
  width: 100%;
  margin: 10px 0px;
  dt {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    background: image-url("bar_200_30_top.jpg");
    letter-spacing: 5px; }
  dd {
    padding: 10px;
    background: image-url("bar_200_bg.jpg"); }
  li {
    padding: 2px 0px;
    a {
      color: #D2E9FF;
      text-decoration: none;
      &:hover {
        color: #F30;
        text-decoration: none; } } }
  dd.boot {
    padding: 0px;
    height: 10px;
    background: image-url("bar_200_boot.jpg"); } }

.domain {
  width: 100%;
  height: 47px;
  li {
    height: 47px;
    &.left {
      float: left;
      width: 95px;
      background: image-url("domain_01.gif"); }
    &.midd {
      float: left;
      width: 610px;
      line-height: 47px;
      font-family: Verdana;
      font-size: 20px;
      font-weight: bold;
      color: red;
      text-align: center;
      background: image-url("domain_bg.gif"); }
    &.right {
      float: left;
      width: 95px;
      background: image-url("domain_02.gif"); } } }

/*--右边列表样式-----------*/

#rightlist {
  width: 100%;
  margin: 10px 0px;
  dt {
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    background: image-url("left_bar.gif"); }
  dd {
    padding: 5px;
    border-left: 1px #006799 solid;
    border-right: 1px #006799 solid;
    border-bottom: 1px #006799 solid; }
  li {
    padding: 2px 0px;
    a {
      color: #490BB0;
      text-decoration: none;
      &:hover {
        color: #F30;
        text-decoration: none; } } } }

.righttab {
  width: 100%;
  background: #EEE;
  border: 1px #069 solid;
  margin: 5px 0px;
  th {
    color: #FFF;
    font-weight: bold;
    background: #069;
    padding: 5px; }
  td {
    color: #666;
    font-family: Verdana;
    line-height: 150%;
    background: #FFF;
    padding: 5px;
    a {
      color: #490BB0;
      text-decoration: none;
      &:hover {
        color: #F30;
        text-decoration: none; } } } }

/*--公布号码-----------*/

#ancode {
  width: 100%;
  margin: 10px 0px;
  li {
    &.lt {
      float: left;
      width: 10px;
      height: 120px;
      background: image-url("code_left.jpg"); }
    &.mt {
      float: left;
      width: 570px;
      text-align: center;
      background: image-url("code_bg.jpg");
      padding: 10px 0px; }
    &.rt {
      float: left;
      width: 10px;
      height: 120px;
      background: image-url("code_right.jpg"); } } }

/*--显示域名-----------*/

.showdomain {
  width: 100%;
  height: 80px;
  border-style: dotted;
  border-color: #EEE;
  border-width: thick;
  margin: 10px 0px;
  td {
    &.a1 {
      text-align: center;
      font-family: Arial;
      font-size: 25px;
      font-weight: bold;
      color: #000;
      padding: 10px 0px 5px 0px; }
    &.a2 {
      text-align: center;
      font-family: 宋体;
      font-size: 16px;
      font-weight: bold;
      color: #000;
      padding: 5px 0px 10px 0px; } } }

/*--首页右侧-----------*/

.picandtext {
  width: 100%;
  border: 0px;
  td {
    text-align: center;
    &.title {
      padding: 5px;
      line-height: 150%; } } }

/*--波色样式-----------*/

.bcolor {
  width: 100%;
  margin: 10px 0px;
  background: #EEE;
  td {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    color: #FFF;
    &.topbar {
      background: #F60; } }
  .td-red {
    background: red; }
  .td-blue {
    background: blue; }
  .td-green {
    background: green; } }

/*--全文Div样式-----------*/

#showinfo {
  margin: 10px 0px;
  background: #000066 image-url("590_bg.jpg");
  .top {
    height: 20px;
    background: #000066 image-url("590_t.jpg"); }
  .title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
    padding: 0px 20px; }
  .content {
    line-height: 200%;
    padding: 0px 20px; }
  .info {
    line-height: 200%;
    text-align: center;
    font-size: 14px;
    color: #F30;
    font-weight: bold;
    padding: 0px 20px; }
  .back {
    text-align: center;
    padding: 10px 0px; }
  .boot {
    height: 20px;
    background: #000066 image-url("590_b.jpg"); }
  .tuku_list {
    margin: 0px 20px;
    dt {
      font-size: 18px;
      font-weight: bold;
      padding: 10px 0px; }
    li {
      height: 20px;
      padding-top: 7px;
      font-size: 14px;
      font-weight: bold;
      background: image-url("pl_27_1.gif");
      a {
        color: #D2E9FF;
        &:hover {
          color: #F30; } } } }
  .disclaimer {
    margin: 5px 0px;
    h2 {
      font-size: 25px; }
    p {
      line-height: 200%;
      &.info {
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        color: F30;
        margin: 10px 0px;
        padding: 5px 10px;
        border: 1px #0CF solid; } } } }

#showlist {
  margin: 10px 0px;
  background: #000066 image-url("590_bg.jpg");
  .top {
    height: 20px;
    background: #000066 image-url("590_t.jpg"); }
  .boot {
    height: 20px;
    background: #000066 image-url("590_b.jpg"); } }

/*--全文Tab样式-----------*/

#showinfo td {
  line-height: 200%;
  &.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px; } }

/*--记录样式-----------*/

#historylist {
  margin: 10px 0px;
  background: #000066 image-url("590_bg.jpg");
  table {
    background: #009;
    border: 1px solid #003; }
  td {
    font-family: Verdana;
    font-size: 14px;
    text-align: center;
    background: #006;
    padding: 5px;
    a {
      color: #0CF;
      text-decoration: none;
      &:hover {
        color: #F30;
        text-decoration: none; } } }
  .top {
    height: 20px;
    background: #000066 image-url("590_t.jpg"); }
  .boot {
    height: 20px;
    background: #000066 image-url("590_b.jpg"); }
  .list {
    padding: 0px 20px; } }

/*--广告样式-----------*/

#boot-ad {
  width: 100%;
  height: 120px;
  background: image-url("boot_120_bg.jpg");
  margin-bottom: 10px;
  overflow: hidden;
  li {
    height: 120px;
    &.left-space {
      float: left;
      width: 10px;
      background: image-url("boot_120_left.jpg"); }
    &.mid-info {
      float: left;
      width: 780px;
      line-height: 100px;
      text-align: center;
      padding: 10px 0px; }
    &.right-space {
      float: left;
      width: 10px;
      background: image-url("boot_120_right.jpg"); } } }

#left-ad, #midd-ad, #right-ad {
  width: 100%;
  margin: 5px 0px; }

/*--底部样式-----------*/

#footer {
  width: 100%;
  height: 60px;
  background: image-url("boot_60_bg.jpg");
  margin-bottom: 10px;
  overflow: hidden;
  li {
    height: 60px;
    &.left-space {
      float: left;
      width: 10px;
      background: image-url("boot_60_left.jpg"); }
    &.mid-info {
      float: left;
      width: 780px;
      line-height: 40px;
      text-align: center;
      padding: 10px 0px; }
    &.right-space {
      float: left;
      width: 10px;
      background: image-url("boot_60_right.jpg"); } } }